<a href="/personal_cv/single-article.html" class="article-title-hover block"><!-- Start Articles Block -->
  <article class="article-section">
      <div class="space-y-3 mb-5 p-7 pb-0">
          <h2 class="text-lg font-semibold">Qui quasi aut iure provident occaecati dignissimos et illo.</h2>
          
          <p class="text-gray-600">Numquam cumque ut excepturi. Nihil ea officiis. Voluptate cum velit quibusdam sed ducimus qui. Quis ut non hic facilis eum ut voluptatibus eveniet. Repellat accusantium non maxime sequi dignissimos magnam et quos. Consequatur vel numquam.</p>

          <p><time datetime="2021-05-09 19:00" class="text-sm text-gray-400">May 09, 2021</time></p>
      </div>

      <div class="article-img">
          <img src="https://images.unsplash.com/photo-1589149098258-3e9102cd63d3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80" alt="">
      </div>
  </article>
</a>
<a href="/personal_cv/single-article.html" class="article-title-hover block"><!-- Start Articles Block -->
  <article class="article-section">
      <div class="space-y-3 mb-5 p-7 pb-0">
          <h2 class="text-lg font-semibold">Qui quasi aut iure provident occaecati dignissimos et illo.</h2>
          
          <p class="text-gray-600">Numquam cumque ut excepturi. Nihil ea officiis. Voluptate cum velit quibusdam sed ducimus qui. Quis ut non hic facilis eum ut voluptatibus eveniet. Repellat accusantium non maxime sequi dignissimos magnam et quos. Consequatur vel numquam.</p>

          <p><time datetime="2021-05-09 19:00" class="text-sm text-gray-400">May 09, 2021</time></p>
      </div>

      <div class="article-img">
          <img src="https://images.unsplash.com/photo-1531030874896-fdef6826f2f7?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80" alt="">
      </div>
  </article>
</a>