<main class="main-container">
  <div class="grid gap-5 lg:grid-cols-3">
      <div class="space-y-5">
          <div class="shadow rounded-xl overflow-hidden">
              <div class="h-32 bg-cover" style="background-image: url('assets/img/cover.jpg');"></div>
              <div class="pt-14 p-7 bg-white relative">
                  <span class="status-badge bg-blue-500">Sẵn Sàng</span>
                  <a href=""><img src="assets/img/avatar.png" alt="Avatar" class="bg-white user-photo"></a>
                  <div class="text-lg font-semibold mb-1.5">PHẠM CHÍ KIỆT</div>
                  <div class="text-sm text-gray-400 mb-7">Senior Developer</div>
                  <div class="flex group">
                      <button class="download-btn">Tải CV</button>
                      <button class="download-btn-icon"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6"
                              fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.8"
                                  d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                          </svg></button>
                  </div>
              </div>
          </div>
          <div class="p-7 block-section">
              <h2 class="block-title">Thông Tin Liên Hệ</h2>
              <div class="space-y-4">
                  <div class="flex justify-between">
                      <div class="text-gray-400">Địa Chỉ</div>
                      <div class="font-medium text-right text-gray-600">Quận 12, TP. Hồ Chí Minh</div>
                  </div>
                  <div class="flex justify-between">
                      <div class="text-gray-400">Số Điện Thoại</div>
                      <div class="font-medium text-right text-gray-600">0385.296.033</div>
                  </div>
                  <div class="flex justify-between">
                      <div class="text-gray-400">Email</div>
                      <div class="font-medium text-right text-gray-600">chikiet88@gmail.com</div>
                  </div>
                  <div class="flex justify-between">
                      <div class="text-gray-400">Website</div>
                      <a target="_blank" href="https://chikiet.com" class="font-medium text-right text-gray-600">https://chikiet.com</a>
                  </div>
              </div>
          </div>
          <div class="p-7 block-section flow-root">
              <h2 class="block-title">Kỹ Năng</h2>
              <div class="-m-2 flex flex-wrap">
                  <span class="skill-tag">HTML/CSS</span>
                  <span class="skill-tag">JavaScript</span>
                  <span class="skill-tag">Boostrap</span>
                  <span class="skill-tag">Joomla</span>
                  <span class="skill-tag">Wordpress</span>
                  <span class="skill-tag">Material</span>
                  <span class="skill-tag">Tailwind CSS</span>
                  <span class="skill-tag">Angular</span>
                  <span class="skill-tag">Nestjs</span>
                  <span class="skill-tag">MySQL</span>
                  <span class="skill-tag">TypeORM</span>
                  <span class="skill-tag">Prisma</span>
                  <span class="skill-tag">PHP</span>
              </div>
          </div>
      </div>
      <div class="space-y-5 lg:col-span-2">
          <div class="p-7 pb-0 block-section">
              <h2 class="block-title">Giới thiệu về tôi</h2>
              <div class="text-gray-600 mb-5">
                  <ul class="space-y-1 text-gray-500 list-inside dark:text-gray-400">
                      <li class="flex">
                          <svg class="w-6 h-6 mr-1.5 text-green-500 dark:text-green-500 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                          Tôi từng là một sinh viên công nghệ thông tin có niềm đam mê rất lớn với lập trình.
                      </li>
                      <li class="flex">
                          <svg class="w-6 h-6 mr-1.5 text-green-500 dark:text-green-500 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                          Tôi đã có hơn 15 năm kinh nghiệm học tập và làm việc trong lĩnh vực này. Từ các kiến thức ban sơ về lập trình (HTML,CSS,JavaScript), code thuần tập vết các desgin pattern (Singleton,Prototype,Builder,Observer), CMS mã nguồn mở (Joomla, Wordpress), đến sử dụng các framework (Laravel, Boostrap, Angular, Nestjs...) và Kiến trúc phát triển đám mây (GCP,AWS)
                      </li>
                      <li class="flex">
                          <svg class="w-6 h-6 mr-1.5 text-green-500 dark:text-green-500 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                          Tôi luôn cập nhật kiến thức và tìm cách cải thiện hiệu suất làm việc.
                      </li>
                      <li class="flex">
                          <svg class="w-6 h-6 mr-1.5 text-green-500 dark:text-green-500 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                          Tôi sẵn lòng học hỏi, phát triển và mang lại giá trị cao nhất cho công việc. 
                      </li>
                  </ul>
                  

              </div>
              <div class="border-t border-gray-200 my-5"></div>

              <ul class="flex space-x-8 font-medium">
                  <li>
                      <a href="#" class="menu-link-hover" [routerLink]="['ho-so']" routerLinkActive="menu-link-active" >Hồ Sơ Cá Nhân</a>
                  </li>
                  <li>
                      <a href="#" class="menu-link menu-link-hover" [routerLink]="['hoc-van']" routerLinkActive="menu-link-active">Học Vấn</a>
                  </li>
                  <li>
                      <a href="#" class="menu-link menu-link-hover" [routerLink]="['san-pham']" routerLinkActive="menu-link-active">Sản Phẩm</a>
                  </li>
                  <li>
                      <a href="#" class="menu-link menu-link-hover" [routerLink]="['blog']" routerLinkActive="menu-link-active">Blog</a>
                  </li>
              </ul>
          </div>
          <div class="p-7 block-section">
              <router-outlet></router-outlet>
          </div>
      </div>

  </div>
</main>