<section class="h-full bg-gray-200 md:h-screen">
    <div class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800">
        <div class="xl:w-6/12 w-full">
            <div class="flex flex-col space-y-3 md:p-12 md:mx-6">
                <div class="flex flex-col space-y-3 w-full shadow-lg rounded-lg bg-white p-3">
                  <router-outlet></router-outlet>
                  </div>
                  <div class="fixed lg:relative bottom-0 right-0 flex flex-row space-x-3 justify-center items-center w-full shadow-lg rounded-lg bg-white p-3">
                    <div><button mat-raised-button routerLink="lichsu" [color]="isActive('/lichsu') ? 'primary' : null">Lịch Sử</button></div>
                    <div><button [disabled]="IsshowCam" mat-fab color="primary" (click)="startScanner()"  *ngIf="isActive('/')">
                      <span class="material-icons">qr_code_scanner</span></button></div>
                    <div><button mat-raised-button routerLink="/" [color]="isActive('/') ? 'primary' : null" *ngIf="!isActive('/')"><span class="material-icons">home</span></button></div>
                    <div><button mat-raised-button  routerLink="caidat" [color]="isActive('/caidat') ? 'primary' : null">Cài Đặt</button></div>
                  </div>
             </div>
        </div>
      </div>
  </section>